@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to menunaker!</h2>
    <p class="lead">Menu maker is a porweful tool for optimizing your product cart!</p>
    <p>Save your cash and time - register in menuMaker!!!!</p>
    <p>To get the most powerful tool-contact our admin:admin@admin.admin</p>
    @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success" })
</div>
